.o-container {
  max-width: 1100px;
}

@include breakpoint(medium) {
  
  .o-container {
    margin: 0 100px !important;
  }

  .o-padded_container {
    padding: 0 100px;
  }

}

@include breakpoint(large) {
  
  .o-container {
    margin: 0 150px !important;
  }

  .o-padded_container {
    padding: 0 150px;
  }

}

@include breakpoint(1440px) {

  .o-container {
    margin: 0 250px !important;
  }

  .o-padded_container {
    padding: 0 250px;
  }

}