footer {
  width: 100%;
  height: auto;
  font-size: $font-small;
  color: $white-900;
  background-color: $red-500;
}

.c-footer__contacts {
  padding: 50px 0;

  p {
    font-size: $font-small;
    margin: 0;
  }
}

.c-footer__border {
  width: 100%;
  height: 2px;
  background-color: $white-900;
  margin: 0 auto;
}

.c-footer__sections {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.c-footer__section:nth-child(odd) {
  padding-left: 0;
}

.c-footer__section:nth-child(even) {
  padding-right: 0;
}

.c-footer__section:nth-child(n+3) {
  padding-top: 0;
}

.c-footer__section {
  padding: 30px;
  width: 50%;

  ul {
    list-style: none; 
    margin: 0;
    padding: 0; 
  }

  li {
    line-height: 2em;
    display: block;
  }

  a {
    text-decoration: none;
    color: $white-900;
    transition: all 500ms ease-in;
  }
}

.c-footer__section a:hover {
  text-decoration: underline;
}

/* breakpoint */
@include breakpoint(medium) {

  .c-footer__sections {
    width: auto;
  }

  .c-footer__section {
    width: 33%;
    padding-left: 0;
  }

  .c-footer__section:nth-child(n+3) {
    padding-top: 30px;
  }

  .c-footer__section:nth-child(even) {
    padding-right: 30px;
  }

  .c-footer__border {
    width: 100%;
  }
}

@include breakpoint(large) {
  
  .c-footer {
    display: flex;
  }

  .c-footer__border {
    display: none;
  }

  .c-footer__contacts {
    width: 35%;
  }

  .c-footer__sections {
    width: 75%;
  }

  .c-footer__section {
    width: 20%;
  }

  .c-footer__section:last-child {
    padding-right: 0;
  }
}