.c-hero {
  width: 100%;
  height: auto;
  overflow: hidden;
  line-height: 0;
  position: relative;
  padding-bottom: 200px;
  z-index: -1;
}

.c-hero__image {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
  overflow: hidden;

  img {
    width: auto;
    height: 100%;
    transform: translateX(-13%);  
  }
}

.c-hero__items {
  color: $white-900;
}

.c-hero__title {
  padding-bottom: 5px;

  h2 { 
    font-weight: 400;
  }
}

.c-hero__site {
  max-width: 300px;
}

@include breakpoint(medium) {

  .c-hero__image {
    height: 100%;

      img {
      width: 100%;
      transform: none;
      object-fit: cover;
    }
  }

  .c-hero__items {
    width: 450px;
  }
}


@include breakpoint(large) {

  .c-hero__items {
    max-width: 400px;
  }
}