
nav {
  z-index: 100;
}

// LOGO
.c-nav__logo {
  line-height: 0;
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 10;
  
  img {
    width: 100%;
  }
}

/** breakpoint **/
@include breakpoint(large) {
  .c-nav__logo {
    top: 20px;
  }
}

/*** MAIN NAV ***/
.c-nav__main {
  width: 100%;
  height: auto;
  background: linear-gradient(40deg, $blue-500 35%, $blue-900 85%);
  position: absolute;
}

/** breakpoint **/
@include breakpoint(large) {

  .c-nav__main {
    background: none;
  }
}

// TOGGLE
.c-nav__toggle {
  width: 32px;
  height: auto;
  position: absolute;
  top: 20px;
  right: 20px;
}

.c-nav__open span {
  width: 32px;
  height: 4px;
  display: block;
  background-color: $white-900;
  margin-top: 3px;
}

.c-nav__close {
  position: absolute;
  top: 0;
  display: none;

  span {
    color: $white-900;
    font-weight: 900;
  }
}

/** breakpoint **/
@include breakpoint(large) {

  .c-nav__toggle {
    display: none;
  }
}


// NAV MENU

.c-nav__menu {
  letter-spacing: 0.03rem;
  padding: 100px 0 80px;
  margin: 0 20px;
  display: none;

  a {
    text-decoration: none;
    color: $white-900;
    display: block;
  }
  
}

.c-nav__main-menu {
  width: 100%;
  font-size: $font-medium;
  font-weight: 700;
  list-style: none;
  padding-left: 0;

  & > li {
    padding: 20px 0;
  }
}

.c-nav__main-menu > li:first-child {
  padding-left: 0;
}

.has_sub-menu::after {
  content:'';
  display: block;
  float: right;
  border-top: 3px solid $white-900;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  margin-top: 12px;
}

.c-nav__sub-menu {
  list-style: none;
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px;
  display: none;

  li {
    padding: 5px 0;
  }
}

/** breakpoint **/
@include breakpoint(large) {
  
  .c-nav__menu {
    padding: 0;
    display: block;
    position: absolute;
    margin-left: 0;
  }

  .c-nav__main-menu {
    width: auto;
    font-size: $font-regular;
    display: flex;

    & > li {
      padding: 30px 20px;
    }

  }

  .has_sub-menu::after {
    margin-left: 10px;
    margin-top: 10px;
  }

  .c-nav__sub-menu {
    background: linear-gradient(90deg, $blue-900 0%, $blue-500 100%);
    padding-left: 15px;
    padding-right: 40px;
  }

}

@include breakpoint(1440px) {

  .c-nav__main-menu > li {
    padding: 40px;
  }

}