
// LOGO
.c-nav__logo {
  line-height: 0;
  margin-left: 20px;
  position: absolute;
  
  img {
    width: 100%;
  }
}

/*** MAIN NAV ***/
.c-nav__main {
  width: 100%;
  height: auto;
  background: linear-gradient(40deg, #a9c7bd 35%, #3a7090 85%);
}

// TOGGLE
.c-nav__toggle {
  width: 32px;
  height: auto;
  position: relative;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}

.c-nav__open span {
  width: 32px;
  height: 4px;
  display: block;
  background-color: $white-900;
  margin-top: 3px;
}

.c-nav__close {
  position: absolute;
  top: 0;
  display: none;

  span {
    color: $white-900;
    font-weight: 900;
  }
}

// NAV MENU

.c-nav__menu {
  letter-spacing: 0.03rem;
  padding: 100px 0 80px;
  margin: 0 20px;

  & > ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: $white-900;
  }
  
}

.c-nav__main-menu {
  font-size: $font-medium;
  font-weight: 700;

  & > li {
    padding: 20px 0;
  }
}

.c-nav__main-menu > li > a:after {
  content:'';
  display: block;
  float: right;
  border-top: 3px solid $white-900;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  margin-top: 12px;

}

.c-nav__sub-menu {
  list-style: none;
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px;
  display: none;

  li {
    padding: 5px 0;
  }
}