.c-section {
  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0.4);
  position: relative;
  margin-top: -40px;
}

.c-section__skew {
  width: 100%;
  height: 97.6%;
  position: absolute;
  bottom: 0;
  background-color: $white-900;
  z-index: -1;
  transform: skew(0deg, 2.4deg);
}

/*breakpoint*/
@include breakpoint(medium) {
  .c-section__skew {
    transform: skew(0deg, 1.2deg);
  }
}

@include breakpoint(large) {
  .c-section__skew {
    height: 96%;
  }
  
  .c-section__items {
    display: flex;
  }
}

//QUOTE

.c-section__quote {
  color: $orange-900;
  padding: 0 15px;
  margin: 0 auto;
}

.c-section__quote-preview {

  p {
    font-size: $font-medium;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 1.7rem;
    margin: 0;
    padding-bottom: 15px;
  }

  span {
    font-size: 45px;    
    font-weight: 700;
    font-style: italic;
    line-height: 0.5em;
  }
}

.c-section__quote-preview span:last-child {
  float: right;
  padding-right: 100px;
}

.c-section__quote-buttons {
  text-align: right;
  padding: 50px 0; 

  & > :nth-child(2) {
    margin-left: -4px;
    background-color: $orange-500;
  }
}

button {
  border: none;
  background-color: $orange-900;

  i {
    padding: 8px;
    color: $white-900;
    font-weight: 900;
  }
}

button:hover {
  cursor: pointer;
}

.border {
  width: 90%;
  height: 1px;
  background-color: #BABCC4;
  margin: 0 auto;
}

/*breakpoint*/

@include breakpoint(medium) {
  
  .c-section__quote {
    padding: 0;
  }

  .border {
    width: 95%;
  }
}

@include breakpoint(large) {
  .c-section__quote {
    width: 40%;
    margin-left: 0;
  }

  .border {
    width: 1px;
    height: 300px;
    margin-left: 0;
  }
}

//ABOUT
.c-section__about {
  padding: 30px 15px;
}

.c-section__title p {
  color: $orange-900;
  font-size: $font-medium;
  font-weight: 300;
  line-height: 1.2em;
}

.c-section__details p {
  opacity: 0.4;
}

/*breakpoint*/
@include breakpoint(medium) {

  .c-section__about {
    padding: 30px 0;

    p {
      margin-top: 0;
    }
  }

  .c-section__title p {
    font-size: $font-large;
  }
}

@include breakpoint(large) {

  .c-section__about {
    width: 50%;
    padding: 0;
    padding-left: 10px;
  }
}